body {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c3c2c0;
   box-sizing: border-box;
}

/*Textos*/
h1 {
  font-weight: normal;
  font-size: 1.7rem;
  text-align: center;
 
}
h2{
    font-size: 1.4rem;
    text-align: center;
}p{
  font-size: 1rem;
  margin:0;
}
/*Layouts*/

.container {
  background-color: #fff;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 3rem;
  width: 70%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.header-menu {
  width: 100%;
  text-align: center;
  
  box-sizing: border-box;
  .header-img {
    width: 100%;
  }
  
}


.card{
    margin: 15px 0;
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 5px 14px 7px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1rem;
  
}
.pedido{
    padding: 10px;
    width: 30%;
   box-sizing: border-box;
}

.pedido-img{
    width: 100%;
    height: 18.7rem;
    object-fit: cover;

}
.preco{
  color:green;
  font-size: 1.2rem;

}

.pedido-group{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin: 20px;
}


form.card{
  width: 100%;
  margin-top: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5rem 4rem;
    justify-content: center;
    gap: 20px; 
  input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #efefef;
    font-size: 1.2rem;
  }

    h2{
      margin: 10px;
    }
}

button{
  width: 100%;
  background-color: #007afe;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
      background-color: #0069d9;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      
  }
}

#recibo{ 
  width: 100%;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

#intro{

  margin: 40px 0;
  span{
    font-weight: bold;
  }
}


#total{
font-weight: bold;
}